.para{
    font-weight: bold;
}
.small-para{
    font-size: small;
}
#confirm-button{
    background-color: greenyellow;
}
#cancel-button{
    background-color: white;
}
.text{
    font-weight: 100;
}
.child{
    font-weight: ;       
}